.fs-accordion{
    .fs{
        &-item[data-state="closed"]{
            > .fs-level{
                display: none;
            }
        }
        &-item[data-state="open"]{
            > .fs-level{
                display: block;
            }
        }
        &-link{
            display: block;
        }    
    }

    //
    // skin
    .fs{
        &-nav{}
        &-link{
            padding: 10px;
            border: 1px solid #000;
        }
        &-item[data-state="open"],
        &-item[data-state="closed"]{
            > .fs-link{
                &:after{
                    margin-left: 10px;
                }
            }
        }
        &-item[data-state="open"]{
            > .fs-link{
                &:after{
                    content: "-";
                }
            }
        }
        &-item[data-state="closed"]{
            > .fs-link{
                &:after{
                    content: "+";
                }
            }
        }        
    }
}
