//
// skin
.nkd-accordion{
  .nkd{
    &-nav{}
    &-link{
      padding: 10px;
      border: 1px solid #ededed;
    }
  }
  [data-state="open"],
  [data-state="closed"]{
    > .nkd-link{
      &:after{
        margin-left: 10px;
      }
    }
  }
  [data-state="open"]{
    > .nkd-link{
      &:after{
        content: "-";
      }
    }
  }
  [data-state="closed"]{
    > .nkd-link{
      &:after{
        content: "+";
      }
    }
  }
  [data-level="1"] .nkd-link{
    padding-left: 40px;
  }
  [data-level="2"] .nkd-link{
    padding-left: 60px;
  }
  [data-level="3"] .nkd-link{
    padding-left: 80px;
  }
}
