.nkd-accordion{
  .nkd{
    &-item[data-state="closed"]{
      > .nkd-level{
        display: none;
      }
    }
    &-item[data-state="open"]{
      > .nkd-level{
        display: block;
      }
    }
    &-link{
      display: block;
    }
  }
}
