.nkd-accordion{
  .nkd{
    &-link{
      display: block;
    }
  }
  [data-state="closed"]{
    > .nkd-level{
      display: none;
    }
  }
  [data-state="open"]{
    > .nkd-level{
      display: block;
    }
  }
}
